.App {
  background-color: #282c34;
  min-height: 100vh;
  text-align: center;
}

.content {
  background-color: #282c34;
  color: white;
  width: 800px;
  margin: auto;
}

h2 {
  margin-top: 30px;
}

.header {
  font-size: 40px;
  padding: 20px 0;
}

b {
  font-weight: 600;
}

.vault {
  height: 200px;
}

.vault.unlocking {
  animation: App-logo-spin infinite 20s linear;
}

.message {
  color: black;
  font-size: 40px;
}

.loginForm, .successContainer {
  width: 75%;
  padding: 30px;
  background-color: aliceblue;
  margin: auto;
  border: 20px solid black;
}

.buttonGroup {
  display: flex;
  margin-top: 20px;
}

.phButton {
  flex: 1;
  display: flex;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none !important;
}
