.App {
  background-color: #282c34;
  min-height: 100vh;
  text-align: center;
}

.content {
  background-color: #282c34;
  color: white;
  width: 800px;
  margin: auto;
}

h2 {
  margin-top: 30px;
}

.header {
  font-size: 40px;
  padding: 20px 0;
}

.header.conditionalBold b {
  font-weight: 600 !important;
}

b {
  font-weight: normal;
}

.vault {
  height: 200px;
}

.vault.unlocking {
  animation: App-logo-spin infinite 20s linear;
}

.message {
  color: black;
  font-size: 40px;
}

.loginForm, .successContainer {
  width: 75%;
  padding: 30px;
  background-color: aliceblue;
  margin: auto;
  border: 20px solid black;
}

.buttonGroup {
  display: flex;
  margin-top: 20px;
}

.phButton {
  flex: 1;
  display: flex;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.passwordHint div {
  display: inline-flex;
  flex-direction: row-reverse;
  color: black;
  font-family: monospace;
  font-size: 18px;
}

.passwordHint div span {
  width: 10px;
  opacity: 1;
  transition: width 5s ease-out, opacity 2.5s 2.5s ease;
}

.passwordHint :not(.ENCRYPTED) span:nth-child(3n+2) {
  width: 0;
  opacity: 0;
}

.passwordHint .ENCRYPTED {
  flex-direction: row;
}

.passwordHint .ENCRYPTED span {
  font-size: 1px;
  letter-spacing: -1px;
  color: transparent;
}

.passwordHint .ENCRYPTED span::after {
  content: "*";
  font-size: 16px;
  font-size: 1rem; /* Maintain relative font-size in browsers that support it */
  letter-spacing: normal;
  color: #000;
}
